

body {
	margin: 0;
	padding:0;
	width: 100%
}
.example-1{
	margin: 10px 20px 30px 40px;
	padding: 10px 20px 30px 40px;
}

li{
	color:#B20000;
	list-style: none;
}

li.one{
	background-color:#FFFF99;
	text-align: center;
	text-decoration:none;
	display: inline-block;
	float: left;
	width: 30%;
	padding: 10px;
	margin: 1% 0 0 0;
}
li.two{
	background-color: #FF66FF;
	text-align: center;
	text-decoration:none;
	display: inline-block;
	width:30%;
	padding: 10px;
	float: none;
}
li.three{
	background-color: #66FF99;
	text-align: center;
	text-decoration:none;
	display: inline-block;
	float: right;
	width: 30%;
	padding: 10px;
	margin: 0 0 0 1%
}

h1 {
	text-align: center;}
	a:link {
		text-decoration:none;
	}
a:hover{
	
	text-decoration:none;
}
a:active {
	text-decoration:none;
}
a:visited {
	text-decoration:none;
}
